[Unit]
Description=Open file with DBus
After=dbus.service

[Service]
ExecStart=/home/elik565/LW6/Server
Restart=on-failure
Environment=DISPLAY=:0
WorkingDirectory=/home/elik565/LW6/

[Install]
WantedBy=default.target
